name: Docker TransferV2
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize Agent Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          # 清理不必要的预装软件，腾出约 50GB 空间
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Pull and Save Image
        run: |
          # 使用 skopeo 避免解压过程，最省空间
          sudo apt-get update && sudo apt-get install -y skopeo
          skopeo copy docker://kenneth850511/llamafactory:v0.9.1 docker-archive:$(pwd)/llamafactory.tar
          
      - name: Upload to Transfer.sh
        run: |
          # 也可以换成使用 scp 传到你服务器
          curl --upload-file ./llamafactory.tar https://transfer.sh/llamafactory.tar
